# Binary files
figures/
deprecated/

# Cache files
.DS_Store
Thumbs.db

.Rproj.user
.Rhistory
.RData
.Ruserdata

# xls files
.xls
./.DS_Store
./data/.DS_Store
./figures/.DS_Store
./figures/heirarchical
model/.DS_Store
